<!DOCTYPE html>
<html>
  <head>
    <title>Poll {{ roomCode }}</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
  </head>
  <body id = "answeringBody">
    <h2 id="question">Waiting for Questions...</h2>
    <div id="options"></div>
    <script>
        var source = new EventSource("{{ url_for('sse.stream', channel=roomCode) }}");
        source.addEventListener('greeting', function(event) {
            var data = JSON.parse(event.data);
            alert("The server says " + data.message);
        }, false);
        source.addEventListener('question', function(event){
          var data = JSON.parse(event.data);
          document.getElementById("question").innerText = data.question;
          document.getElementById("options").innerHTML = '';
          for (i = 0; i< data.options.length; i++){
            document.getElementById("options").innerHTML += '<input type="checkbox" id="option'+ i +'">' + data.options[i] + '<br id="break'+i+'">';
          }
          document.getElementById("options").innerHTML += '<input type="submit" id="submit">'

        }, false);
      </script>
  </body>
</html>