<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Join Poll</title>
  </head>
  <body id = "joinBody">
    <h2 id = "enterHeading">Enter the Room Code</h2>
    <script>
      function validateForm() {
        let code = document.getElementById("roomCode").value;
        if (code == "") {
          alert("Please Enter a Room Code Before Continuing");
          return false;
        }
        fetch('/room/'+code).then(function(response) {
          return response.text();
        }).then(function(data) {
          if (data === 'false') {
            alert("Please Enter a Valid Room Code");
            return false;
          } else {
            window.location.href='/answering/'+code;
          }
        })
      }
    </script>
    <input type="text" id="roomCode" name="roomCode">
    <button id = "joinButton" onclick="validateForm()">Submit </button>
  </body>
</html>